NODE_ENV=development
PORT=3002
MEDIA_S3_BUCKET=urbanreport-media
MEDIA_S3_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
KAFKA_BROKERS=localhost:9092
MEDIA_DB_URL=******localhost:5432/urbanreport
PRESIGNED_URL_TTL_SECONDS=900
